.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding-top: 2rem;
}
.navbar,
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-links {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  transform: translateX(2rem);
  opacity: 0;
  transition: all 0.45s ease-in-out;
}
.nav-links:nth-child(4) {
  transition-delay: 0.25s;
}
.nav-links:nth-child(3) {
  transition-delay: 0.45s;
}
.nav-links:nth-child(2) {
  transition-delay: 0.65s;
}
.nav-links:nth-child(1) {
  transition-delay: 0.85s;
}
.open-link {
  transform: translateX(0rem);
  opacity: 1;
}
.hamburger-lines {
  height: 46px;
  width: 52px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1a1a1d;
  padding: 13px;
  cursor: pointer;
  margin-left: 2rem;
}
.line {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: white;
  pointer-events: none;
}
.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.line2 {
  transition: transform 0.2s ease-in-out;
}
.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
  background-color: red;
}
.open .line1 {
  transform: rotate(45deg);
}
.open .line2 {
  transform: scaleY(0);
}
.open .line3 {
  transform: rotate(-45deg);
}
@media screen and (max-width: 716px) {
  .header {
    /* padding-inline: 2rem; */
  }
  .navbar {
    position: fixed;
    flex-direction: column;
    background-color: #0b0c10;
    right: 0%;
    top: 0;
    height: 100%;
    width: 40%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10rem 3rem;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.45s ease-in-out;
  }
  .nav-links {
    transform: translateX(1rem);
    opacity: 0;
    font-size: 1.7rem;
  }
  .open-link {
    transform: translateX(0rem);
    opacity: 1;
  }
  .nav-links:nth-child(1) {
    transition-delay: 0.25s;
  }
  .nav-links:nth-child(2) {
    transition-delay: 0.45s;
  }
  .nav-links:nth-child(3) {
    transition-delay: 0.65s;
  }
  .nav-links:nth-child(4) {
    transition-delay: 0.85s;
  }
  .nav-links:nth-child(5) {
    transition-delay: 1.05s;
  }
  .open-nav {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@media screen and (max-width: 506px) {
  .navbar {
    width: 60%;
  }
}
